VITE_SUPABASE_URL=https://hvxpettfgduydstoccnb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh2eHBldHRmZ2R1eWRzdG9jY25iIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzAwMTY5NTMsImV4cCI6MjA4NTU5Mjk1M30.FGa0LdhnocO2AhuP0_3-4xFX2njBs5klICe53PpnW6o